/** @format */
h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
h2 {
  text-align: left;
  font-size: 64px;
  font-family: "Playfair Display", serif;
}
p {
  text-align: left;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 48px;
}
.hero {
  background-color: #f9f7fe;
  text-align: center;
  padding: 170px 30px;
}
.hero p {
  text-align: center;
  font-size: 36px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin: 0;
  color: #272142;
}
.hero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 2;
  text-align: center;
}

.btn-branding {
  font-family: "poppins", sans-serif;
  background-color: #44d9e6;

  color: white;
  padding: 20px 45px;
  font-size: 18px;
}
.btn-branding-projects {
  font-family: "poppins", sans-serif;
  background-color: white;
  color: #6c63ff;

  padding: 20px 45px;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid #6c63ff;
}
.app-description {
  padding: 120px 60px 0;
  position: relative;
  bottom: 50px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    margin-top: 0px;
    font-size: 40px;
    text-align: center;
  }
  h4 {
    font-size: 25px;
  }

  .hero h2,
  p {
    text-align: center;
    font-size: 20px;
  }
  .app-description {
    padding: 50px 30px 0;
  }
  .hero {
    padding: 100px 15px;
  }
  .btn-branding-projects {
    margin: 0 auto;
    display: block;
  }
  .about-button {
    margin: 0 auto;
    display: block;
  }
  .about-text h1 {
    text-align: center;
  }
  .contact {
    font-size: 17px;
    padding: 0;
    text-align: center;
  }
  .content-container {
    text-align: center;
  }

  .section-content h1 {
    font-size: 10px;
    margin: 0 0 50px;
    position: relative;
  }
  .section-content {
    position: relative;
    bottom: 40px;
  }
}

.section-content h1 {
  font-size: 64px;
}
.section-content h2 {
  font-size: 18px;
  font-family: "poppins", sans-serif;
  font-weight: bold;
}
.about-img {
  border-radius: 10px;
  margin: 30px 0;
}
.section-text {
  padding: 30px;
}
.work-images {
  border-radius: 15px;
}
.work {
  text-align: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin: 0;
  color: #272142;
}
.contact {
  font-family: "poppins", sans-serif;
}
.contact-container {
  background-color: #f9f7fe;
  padding: 50px;
  border-radius: 15px;
}
.contact-email {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  margin: 0;
  color: #272142;
  font-size: 30px;
  text-decoration: none;
}

.content-container {
  margin-top: 150px;
}

.nav-link {
  margin: 0 20px;
}

.active {
  color: purple !important;
}

.logo {
  max-height: 40px;
}

.work-pictures {
  margin-top: 120px;
}
.email-footer {
  text-decoration: none;
  font-size: 18px;
  color: #272142;
  font-family: "poppins";
  font-weight: bold;
}
.email-footer:hover {
  color: #6c63ff;
}
.social-links a {
  margin: 0 20px 50px;
  padding: 10px 15px;
  font-size: 20px;
  background-color: #f9f7fe;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
  color: #6c63ff;
}
.social-links a:hover {
  color: #f9f7fe;
  background-color: #6c63ff;
}
.contact-footer {
  background-color: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}
